*{
    box-sizing: border-box;
}

div{
    background-color: #e5e7eb;
}

.parent, .child2{
    background-color: rgba(100, 230, 230, .7);
    border: 2px dotted rgba(0, 130, 130, 1);
}

.child1 {
    background-color: seagreen;
    border-radius: 10px;
}

h1{
    color: hsl(48, 78%, 50%);
}

h2{
    color: maroon;
}

.descendant {
    color: #1f2937;
}

#header-id{
    color: #3882f6
}

